# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

# Visual Studio
.vs/
*.ntvs*
*.njsproj
*.sln.docstates

# Visual Studio Code
.vscode/
**/.vscode/

# SQL Server
*.mdf
*.ldf
*.ndf

# Redis
*.rdb

# Environment variables
.env
*.env
*.env.local
*.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
*.swp
*.swo

# NuGet packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msix
*.msixbundle
*.msu

# Windows shortcuts
*.lnk
